/* Primary Import: In many v4 examples (especially with Vite),
  a single import handles injecting base, components, utilities,
  and potentially reads the @theme block.
*/
@import "tailwindcss";

@import "@liveblocks/react-ui/styles.css";

* {
  font-family: work sans, sans-serif;
}

@layer utilities {
  .no-ring {
    outline: none;
    --tw-ring-offset-width: 1px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(0, 0, 0, 0);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
  }

  .input-ring {
    height: 2rem;
    border-radius: 0;
    border: none;
    background-color: transparent;
    outline: none;
    --tw-ring-offset-width: 0px;

    &:focus {
      --tw-ring-offset-width: 0px;
      --tw-ring-width: 1px;
      --tw-ring-color: #56ffa6; /* This is your primary-green color */
    }
  }

  .right-menu-content {
    display: flex;
    width: 20rem;
    flex-direction: column;
    gap: 0.25rem;
    border: none;
    background-color: #14181f; /* Your primary-black color */
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
  }

  .right-menu-item {
    display: flex;
    justify-content: space-between;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &:hover {
      background-color: #202731; /* Your primary-grey-200 color */
    }
  }
}
